html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
body.dark-mode {
    background-color: #181a1b !important;
    color: #f1f1f1 !important;
}
body.dark-mode .card,
body.dark-mode .navbar,
body.dark-mode .footer,
body.dark-mode .modal-content {
    background-color: #23272b !important;
    color: #f1f1f1 !important;
}
body.dark-mode .btn-primary {
    background-color: #375a7f;
    border-color: #375a7f;
}
